/*CSS reset settings here*/

* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 1088px;
    background-color: silver;
    margin: 300px auto;
    padding: 20px;
    height: 675px;
}

#header {
    min-height: 170px;
    width: 1085px;
    background-color: #4da94d;
    margin-bottom: 20px;
}

#navigation {
    min-height: 345px;
    width: 235px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
}

#main_content {
    min-height: 435px;
    width: 815px;
    height: 470px;
    background-color: red;
    display: inline-block;
    margin-left: 20px;
    padding: 5px;
}

.subcontents {
    min-height: 220px;
    width: 237px;
    background-color: yellow;
    display: inline-block;
    margin: 0px 0px 25px 0px;
    margin-left: 10px;
    margin-top: 10px;
}

#advertisement {
    min-height: 130px;
    height: 135px;
    width: 740px;
    background-color: purple;
    margin-top: 5px;
    margin-left: 10px;
}